body {
    font-family: 'Poppins', sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dadfe8;
}

.pokedex {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 30px 0;
}